.git
.github
.env
.env.*
bin
seed-bin
tmp
*.log
.gocache
.gomodcache
.tools

admin-dashboard/node_modules
admin-dashboard/.next
admin-dashboard/out
admin-dashboard/tsconfig.tsbuildinfo
admin-dashboard/.npm-cache
admin-dashboard/tsconfig.tsbuildinfo

ios-app/DerivedData
ios-app/Pods
ios-app/*.xcworkspace
ios-app/xcuserdata

**/.DS_Store
**/Thumbs.db
